<%- include('../partials/header') %>

    <link rel="stylesheet" href="/styles/proyectos.css">
 
    <header class="header">     
        <div class="header_logo"> 
            <div class="header_logo-imagen">
                <img src="/images/karpay-logo-header.png" alt="">
            </div>
            <div class="header_logo-nombre">
                <h1>Karpay</h1>
                <h2>Comunidad de poder</h2>
            </div>
        </div>

        <div class="header_menu">
            <ul>
                <li><a href="/">Proyectos</a></li>
                <li><a href="/">Novedades</a></li>
                <li><a href="/talleres">Talleres</a></li>
                <li><a href="/">Eco-Tienda</a></li>
            </ul>
            
        </div>       
    </header>

    <main class="proyectos-main">
        
        <section class="proyectos">
            <div class="proyectos-info right">
                <div class="proyectos-info_titulo">
                    <h1>Programa “Cultura de la paz”</h1>
                </div>
                <div class="proyectos-info-parrafo">
                    <p>Generar conciencia en individuos y comunidades, integrando la sabiduría ancestral y actual para la construcción y desarrollo de capacidades en las áreas de Salud,cultura de la paz,desarrollo sostenible y abordaje holístico del ser.</p>
                </div>
                <div class="proyectos-info_mas">
                    <a href="/">Conocé más</a>
                </div>
            </div>
            <div class="proyectos-img">
                <img src="/images/Iconocdlp.svg" alt="">
            </div>
        </section>

        <section class="proyectos">
            <div class="proyectos-img">
                <img src="/images/iconoubuntu.svg" alt="">
            </div>
            <div class="proyectos-info">
                <div class="proyectos-info_titulo left">
                    <h1>Experiencia Ubuntu</h1>
                </div>
                <div class="proyectos-info-parrafo left">
                    <p>Esta iniciativa propone fomentar espacios de diálogo entre individuos de distintas raíces, culturas y contextos. Además, busca realizar acciones comunitarias para abordar la cultura de la paz de forma práctica en la vida cotidiana de las personas y comunidades.</p>
                </div>
                <div class="proyectos-info_mas left">
                    <a href="/">Conocé más</a>
                </div>
        </section>

        <section class="proyectos">
            <div class="proyectos-info">
                <div class="proyectos-info_titulo">
                    <h1>Conexión Pachamama</h1>
                </div>
                <div class="proyectos-info-parrafo">
                    <p>El objetivo de este programa es educar acerca de la importancia del desarrollo sostenible y el cuidado del medio ambiente, tomando acciones de impacto en distintas comunidades y regiones, utilizando los principios incas “Yachay, Munay y Llankay”.</p>
                </div>
                <div class="proyectos-info_mas">
                    <a href="/">Conocé más</a>
                </div>
            </div>
            <div class="proyectos-img">
                <img src="/images/iconopachamama.svg" alt="">
            </div>
        </section>
        
        <section class="proyectos">
            <div class="proyectos-img">
                <img src="/images/iconoconciencia.svg" alt="">
            </div>
            <div class="proyectos-info">
                <div class="proyectos-info_titulo left">
                    <h1>Conciencia Saludable</h1>
                </div>
                <div class="proyectos-info-parrafo left">
                    <p>Buscamos concientizar a las personas sobre la importancia del autocuidado, la salud (física, psíquica y social) y la prevención de enfermedades no transmisibles, formando así agentes comunitarios que multipliquen el mensaje a través de distintas llamadas a la acción.</p>
                </div>
                <div class="proyectos-info_mas left">
                    <a href="/">Conocé más</a>
                </div>
        </section>
    </main>

<%- include('../partials/footer'); %>    
    

    
