<%- include('partials/header') %>

    <link rel="stylesheet" href="/styles/forms.css">
    <!-- main section -->

    <section class="main-section">    
        <section class="section">  
                <div class="title">
                    <div class="picture">
                        <img src="\images\karpayLogo.png" alt="logo" class= "logo">
                    </div>                
                <p class='titulos'>Karpay Administrador</p>                
                </div>

            <form class="input-fields" method="POST" action="/admin" >

                <% if (typeof(error) != 'undefined') { %>
                
                    <p class="error_message"><%= "El usuario y/o contraseña es incorrecto" %> </p>
                <% } %>

                <input class="input-decoration" type="email" placeholder="E-mail" name="email" value=<% if (typeof(error) != 'undefined') { %> <%= old.email %>  <% } %>>
                <input class="input-decoration" type="password" placeholder="Contraseña" name="password">
                
                <button class="submit-button">Iniciar Sesión</button>                
                
            </form>
        </section>
    </section>
    <!-- fin main section --> 
    <%- include('partials/footer') %>
