<%- include('./partials/header') %>

    <link rel="stylesheet" href="/styles/proyectos.css">

    <main>    

        <section class="proyectos-main">

            
            <section class="proyectos">
                <div class="proyectos-img">
                    <img src="/images/iconoconciencia.svg" alt="">
                </div>
                <div class="proyectos-info">
                    <div class="proyectos-info_titulo left">
                        <h1>Conciencia Saludable</h1>
                    </div>
                    <div class="proyectos-info-parrafo left" id = "detalles-proyectos">
                        <p>A traves de las distintas propuestas del programa Conciencia Saludable buscamos: 
                            
                            1.  Abrir espacios para concientizar a las personas en la importancia del autocuidado,y la prevencion de  enfermedades no transmisibles , 
                            
                            2.  promover la formacion de agentes comunitarios que multipliquen las acciones de toma de conciencia 
                            
                            3. Programas de sensiblizacion comunitaria.                            
                            
                            Las convocatorias y propuestas de este programa seran difundidas a traves de nuestras redes sociales y de este sitio. Si deseas mas info podes escribirnos a comunidadkarpay@gmail.com
                            
                            </p>
                    </div>
                    <div class="imagenes">
                        <img class="imagenes" src="/images/proyectos/saludable.jpeg" alt="saludable">
                    </div>
            </section>
 
        </section>
    </main>

<%- include('./partials/footer'); %>    
    

    
