<%- include('./partials/header') %>

    <link rel="stylesheet" href="/styles/proyectos.css">

    <main>    

        <section class="proyectos-main">

            
            <section class="proyectos">
                <div class="proyectos-img">
                    <img src="/images/iconopachamama.svg" alt="">
                </div>
                <div class="proyectos-info">
                    <div class="proyectos-info_titulo left">
                        <h1>Conexión Pachamama</h1>
                    </div>
                    <div class="proyectos-info-parrafo left" id = "detalles-proyectos">
                        <p>
                            1.Proyecto  Que ves cuando me ves ?

                            Este proyecto se basa en una serie de talleres teorico - practico para sensibilizar e introducir a las personas en la importancia del reciclado, la toma de conciencia sobre el reciclado y su impacto en las distintas comunidades y promover acciones creativas para que las personas se inicien en el reciclaje.  Estos talleres se realizan  " a demanda" y son perfectamente adaptables a ninos ,jovenes y adultos , y tambien a las comunidades educativas.
                                                    
                            
                            2.Proyecto Suma Kawsay
                            
                            El objetivo de este programa es educar acerca de la importancia del desarrollo sostenible y el cuidado del medioambiente utilizando como base los principios andinos del Yachay ,Munay ,Llankay , que refieren a una vida digna, en armonia y equilibrio con el universo y el ser humano.
                                                     
                            
                            3. Proyecto  " Tierra mi cuerpo "   

                            Este proyecto es una propuesta de inmersion en conexion con la pachamama ,participando de actividades 'en campo' , talleres de practicas ancestrales, jornadas de reconocimiento en la naturaleza y dinamicas de concientizacion y acciones colaborativas con la comunidad.                            
                            Este proyecto tiene una duracion de 3 a 5 dias en distintas locaciones de las provincias del NOA argentino.
                        </p>
                    </div>
                    
            </section>
            <section class= "imagenes-pack">
                <div class="imagenes">
                    <div class="proyectos-info_titulo left">
                        <h2>Que ves cuando me ves</h2>
                        <img class="imagenes" src="/images/proyectos/queves3.jpeg" alt="ves1">
                        <img class="imagenes" src="/images/proyectos/queves2.jpeg" alt="ves2">
                        <img class="imagenes" src="/images/proyectos/queves1.jpeg" alt="ves3">
                    </div>
               
                 </div>
                 <div class="imagenes">
                    <div class="proyectos-info_titulo left">
                        <h2>Tierra mi cuerpo</h2>
                        <img class="imagenes" src="/images/proyectos/tierra.jpeg" alt="tierra">
                        <img class="imagenes" src="/images/proyectos/tierra2.jpeg" alt="tierra">
                        
                    </div>
               
                 </div>
            </section>
 
        </section>
    </main>

<%- include('./partials/footer'); %>    
    

    
