<%- include('partials/header') %>

<link rel="stylesheet" href="/styles/dashboard.css">
<!-- header -->
<%- include('adminPartials/adminHeader') %>
<!--fin del header -->



    <h2><%= title%> </h2>

    <section class= "buttons-section">
        <a href="/admin/users"><button class="users-button">Usuarios</button> </a>
        <a href="/admin/novedades"><button class="users-button">Novedades</button> </a>
        <a href="/admin/talleres"><button class="users-button">Talleres</button> </a>
        <a href="/admin/products"><button class="users-button">Productos</button> </a>
    </section>

<%- include('partials/footer') %>
