<%- include('./partials/header') %>

    <link rel="stylesheet" href="/styles/proyectos.css">

    <main>    

        <section class="proyectos-main">

            
            <section class="proyectos">
                <div class="proyectos-img">
                    <img src="/images/iconoubuntu.svg" alt="">
                </div>
                <div class="proyectos-info">
                    <div class="proyectos-info_titulo left">
                        <h1>Experiencia Ubuntu</h1>
                    </div>
                    <div class="proyectos-info-parrafo left" id = "detalles-proyectos">
                        <p>A traves de los proyectos del programa Experincia Ubuntu por la cultura de la paz, queremos convocarte a 

                            1 Abrir espacios de encuentro intercultural
                            
                            2 Conversatorios entre distintos individuos comprometidos con las areas de educacion y la cultura para compartir mejores practicas, experiencias y aprendizajes
                            
                            3 Participar de las distintas propuestas de concientizacion de nuestra organizacion ,debates,investigaciones,concursos y talleres 
                            
                            Las convocatorias y propuestas de este programa seran difundidas a traves de nuestras redes sociales y de este sitio. Si deseas mas info podes escribirnos a comunidadkarpay@gmail.com
                            </p>
                    </div>
                    <div class="imagenes">
                        <img class="imagenes" src="" alt="">
                    </div>
            </section>
 
        </section>
    </main>

<%- include('./partials/footer'); %>    
    

    
