<%- include('partials/header') %>
<link rel="stylesheet" href="/styles/home.css">

<main class="index">

    <section class="quienes-somos">
        <div class="quienes-somos__recuadro">
            <div class="quienes-somos__recuadro-titulo"><h2>¿Quiénes somos?</h2></div>
            <div class="quienes-somos__recuadro-parrafo"><p>Somos una organización sin fines de lucro. Trabajamos para concientizar sobre el cuidado y la protección del medio ambiente. Nos guía la sabiduría ancestral y las ganas de generar un cambio.</p></div>
        </div>
    </section>
    
    <section class="nuestra-mision">        
        <div class="nuestra-mision_img">
            <img src="/images/karpayLogo.png" alt="Logo de Karpay">
        </div>
        <div class="nuestra-mision__recuadro">
            <div class="nuestra-mision__recuadro-titulo">
                <h2>Nuestra misión</h2>
            </div>
            <div class="nuestra-mision__recuadro-parrafo">
                <p>Generar concienca en individuos y comunidades, integrando la sabiduría ancestral y la actual para la construcción y desarrollo en las areas de salud, cultura de la paz y desarrollo sostenible y abordaje olístico del ser.</p>
            </div>
        </div>        
    </section> 

    <section class="proyectos">
        <div class="proyecto__recuadro">
            <div class="proyecto__recuadro-titulo">
                <h2>Proyectos</h2>
            </div>
            <div class="proyecto__recuadro-parrafo">
                <p>Desde Karpay buscamos integrar a la sociedad en nuestros proyectos. Es por ello que creamos estas iniciativas con el fin de ampliar la red de lucha por el medioambiente. </p>
            </div>
            <div class="proyecto__recuadro-pie">
                <h2>CONOCÉ NUESTROS PROYECTOS</h2>
            </div>
        </div>
    </section>  

    <section class="agenda">
       
        <div class="agenda-box">
            <div class="agenda_recuadro">
                <div class="agenda_recuadro-titulo">
                    <h2>Incendio en la Patagonia</h2>
                </div>
                <div class="agenda_recuadro-parrafo">
                    <p>El fuego empezó el 24 de enero y no da tregua. Todavía hay varios focos activos y miles de personas perdieron todo. </p>
                </div>
                <div class="agenda_recuadro-pie">
                    <h2><a rel="">Aprendé más</a></h2>
                </div>
            </div>

            <div class="agenda_recuadro">
                <div class="agenda_recuadro-titulo">
                    <h2>Beneficios del Compostaje</h2>
                </div>
                <div class="agenda_recuadro-parrafo">
                    <p>Permite eliminar y reciclar de una forma segura muchos tipos de residuos orgánicos biodegradables en insumos para la produccion.</p>
                </div>
                <div class="agenda_recuadro-pie">
                    <h2><a rel="">Aprendé más</a></h2>
                </div>
            </div>

            <div class="agenda_recuadro">
                <div class="agenda_recuadro-titulo">
                    <h2>Basurales a cielo abierto </h2>
                </div>
                <div class="agenda_recuadro-parrafo">
                    <p>Cuál es la diferencia entre los basuarales clandestinos y los basurales legales.</p>
                </div>
                <div class="agenda_recuadro-pie">
                    <h2><a rel="">Aprendé más</a></h2>
                </div>
            </div>            
        </div>
    </section>

    <section class="talleres">
        <div class="talleres_recuadro">
            <div class="talleres_titulo">
                <h1>¿Te interesa colaborar con nosotros?</h1>
            </div>
            <div class="talleres_parrafo">
                <p>Envíanos un correo con tus datos personales y te contamos de qué forma podés ayudar a nuestra organización. Podrías colaborar de forma presencial o mediante una contribución monetaria.</p>
            </div>

            <div class="talleres_form">
                <form action="">
                    <div>
                        <label for="">Indicanos tu nombre*</label><br>
                        <input type="text">
                    </div>
                    <div>
                        <label for="">E-mail*</label><br>
                        <input type="email">
                    </div>
                    <div>
                        <label for="">Dejanos tu mensaje acá*</label><br>
                        <input type="text">
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

