<%- include('partials/header') %>

<link rel="stylesheet" href="/styles/novedades.css">

<section class="main">

    <section class="novedades">
        <div class="novedades-texto">
            <div class="novedades-texto_titulo">¿Que son las tres R? </div>
            <div class="novedades-texto_parrafo"> 
                ️<p>se trata de reducir el consumo, rechazar lo que no utilizamos, (muchas de las compras que hacemos , las hacemos creyendo que en algún momento lo vamos a utilizar). 
                ️Reutilizar: Darle un nuevo uso a las cosas ( Por ejemplo, los yogures de vidrio , los cuales luego uso como condimenteros).
                 Reciclar: Significa que el material vuelva a su ciclo, cuando ya no lo usamos más y separamos, pasa por un proceso físico y químico para que vuelva a ser materia prima.
                A veces nos olvidamos de esto, y es importante tenerlo presente en nuestro día a día.</p> 
            </div>
        </div>

        <div class="novedades-img">
            <img src="/images/Frame2.png" alt="">
        </div>
    </section>

</section>

<%- include('partials/footer'); %>