<%- include('./partials/header') %>

    <link rel="stylesheet" href="/styles/somos.css">

    <main class= "somosMain">     
        
        <section class= "section-somos">
        
        <div class= "cadaUno">
            <div>
            <h2>Politicas de privacidad</h2>
            <p id= "privacidad">
                
                Cambios en esta Política y nuestras Declaraciones de Privacidad
                Karpay "Comunidades de Poder"respeta tu derecho a la privacidad.  Esta política resume la información de identificación personal que podemos obtener y la forma en que podemos usarla.  Esta política también describe otros temas importantes relacionadas con tu privacidad.
                
                Política global de privacidad en Internet de Karpay "Comunidades de Poder"
                Karpay "Comunidades de Poder" respeta su derecho a la privacidad. Esta Política resume qué información de identificación personal y otro tipo de información podemos recopilar, de qué manera podemos utilizar esta información, y otros temas importantes relacionados con su privacidad y la protección de datos.
                
                Karpay "Comunidades de Poder" aplica la política de cumplir todas las leyes de privacidad y protección de datos que correspondan. Este compromiso refleja el valor que le damos al hecho de ganar y conservar la confianza de nuestros visitantes, socios  y demás personas que comparten su información personal con nosotros.
                
                Esta Política rige para todos los Sitios de Internet administrados por Karpay "Comunidades de Poder" o en su nombre, e incluye las áreas de comercialización de servicios y/o productos de 
                Karpay "Comunidades de Poder"
                
                
                Declaraciones de Privacidad de sitio web
                Si bien esta Política rige para todos los Sitios de Internet de Karpay "Comunidades de Poder". Cada divulgación particular o declaración de Política de Sitio Web de  Karpay "Comunidades de Poder" complementa y enmienda esta Política.
                
                
                Finalidad de la recolección. Registro de las bases de datos
                Los datos requeridos y/o solicitados a terceros serán, en cada caso, utilizados con la única y exclusiva finalidad con la que fueron recabados. La información respecto de la finalidad para la cual se obtienen será dada en cada caso, al momento de brindar el titular sus datos personales, por cualquier medio que fuera.
                
                En particular, tratándose de visitantes y clientes , la información será recabada, en general y sin perjuicio de lo que se informe al titular al momento de brindar sus datos personales, con la finalidad de proveer a una adecuada gestión administrativa y organizacional; para fines de publicidad, venta directa y similaresn,cuando fuere aplicable; para realización de encuestas de opinión, mediciones y estadísticas,entre otras.
                
                Respecto de la información obtenida de socios de la organización,en general y sin perjuicio de lo que se informe al titular al momento de brindar sus datos personales, la misma será recabada con la finalidad de proveer a una adecuada gestión administrativa entre organizaciones; y para gestionar los   temas comerciales y fiscales (si aplicara).
                
                Los datos obtenidos serán archivados en bases de datos propiedad de Karpay "Comunidades de Poder"., las cuales se llevan en un todo de conformidad con lo dispuesto por la ley de protección de Datos Personales N° 25.326, encontrándose las mismas inscriptas ante la Dirección Nacional de Protección de Datos Personales, autoridad competente en la materia.
                
                En caso de obtenerse los datos de sus titulares por medio de cuestionarios, las respuestas al mismo serán siempre facultativas. En caso de no brindar los datos solicitados, la consecuencia será exclusivamente la imposibilidad de acceder, por parte de su titular, a la finalidad por la cual los mismos se recaban.
                
                
                Su consentimiento
                Al utilizar el Sitio de Internet de  Karpay "Comunidades de Poder" usted acepta los términos de esta Política de Privacidad. Al enviar información a través de este sitio, usted da su consentimiento para la recopilación, el uso y la divulgación de dicha información, según se describe en esta Política y en las Declaraciones de Privacidad vigentes del Sitio Web o del País.
                
                Si Ud. no autorizase la recopilación, uso y/o divulgación de su información en la forma descrita en esta Política, por favor no utilice los Sitios de Internet de Karpay "Comunidades de Poder".
                
                
                Límites para la recopilación, uso y divulgación de información personal
                En la medida que así lo requieran las leyes vigentes, siempre que  Karpay "Comunidades de Poder" recopile información personal en un Sitio de Internet de Karpay "Comunidades de Poder",Karpay "Comunidades de Poder":
                
                • le proporcionará un aviso oportuno y correcto sobre las prácticas de datos de  Karpay "Comunidades de Poder";
                
                • recopilará, usará, divulgará y transferirá su información personal solo con su consentimiento, que podrá ser explícito o implícito, según la sensibilidad de la información personal, los requisitos legales y otros factores;
                
                • recopilará su información personal solo para fines específicos y limitados. La información que recopilemos será pertinente, adecuada y no excesiva respecto de los fines para los que se la recopiló;
                
                • procesará su información personal de manera coherente con los propósitos para los cuales se recopiló originalmente o para los que usted otorgó posteriormente su consentimiento;
                
                • tomará medidas razonables a fin de asegurar que la información personal sea fiable para el uso propuesto, exacta, completa y que, cuando sea necesario, se mantenga actualizada;
                
                • no utilizará su información personal para fines de comercialización directa sin brindarle la oportunidad de no participar (“opt-out”); y
                
                • tomará medidas apropiadas, por medio de contratos o de algún otro modo, para brindar una protección adecuada a la información personal que se revela a un tercero o se transfiera a otro país, 
                
                
                Información recopilada en Sitios de Internet de   Karpay "Comunidades de Poder" y cómo puede ser utilizada
                • Información que usted proporciona de forma voluntaria:
                
                 Karpay "Comunidades de Poder" recopila la información que usted proporciona de forma voluntaria y consciente, a fin de beneficiarse de una característica o participar en una actividad de un Sitio de Internet de  Karpay "Comunidades de Poder" . Por ejemplo,  Karpay "Comunidades de Poder" puede recopilar su información de modo que usted pueda recibir alertas por correo electrónico, cuando completa una encuesta, o bien cuando solicita información de alguno de nuestros servicios, programas o productos, hace una pregunta o nos envía un mensaje de correo electrónico con comentarios. En muchos casos, esta información puede incluir la recopilación de datos personales.
                
                Karpay "Comunidades de Poder" sólo utiliza su información a los fines para los cuales usted la proporcionó. Por ejemplo, si proporciona su dirección de correo electrónico al registrarse para recibir alertas por correo electrónico, utilizaremos su dirección de correo electrónico para enviar las alertas por correo electrónico que solicite
                
                Además, podemos utilizar la información que recopilemos en los Sitios de Internet de Karpay "Comunidades de Poder" para diversos objetivos comerciales, como servicio al cliente, prevención de fraudes, mejora de nuestros productos y servicios, o para proporcionarles a usted , sea individuo o empresa  la información y las ofertas que consideremos que pueden ser de su interés. Asimismo, podemos eliminar toda la información de identificación personal y usar los demás datos con fines estadísticos, científicos o históricos.
                
                • Información recogida automáticamente:
                
                Karpay "Comunidades de Poder" recopila la información que su explorador web nos envía automáticamente. Esta información generalmente incluye la dirección IP de su proveedor de servicios de Internet, el nombre de su sistema operativo (por ejemplo, Macintosh® o Windows®) y el nombre y la versión de su explorador (por ejemplo, Internet Explorer® o Safari®). La información que recibamos depende de la configuración de su explorador web. Compruebe su explorador si desea saber qué información envía o cómo puede cambiar la configuración.
                
                Utilizamos esta información para que nos ayude a mejorar nuestros sitios y hacerlos más compatibles con la tecnología que utilizan nuestros visitantes de Internet.
                
                • Cookies y tecnologías similares:
                
                Una “cookie” es un pequeño archivo de datos que se instala en su equipo cuando visita un sitio web. Las cookies y tecnologías similares pueden mejorar su experiencia de usuario al guardar sus preferencias, personalizar su experiencia en línea, almacenar artículos en su carrito de compras y, en algunas ocasiones, proporcionarle anuncios publicitarios adaptados a sus intereses.
                
                Todos los Sitios de Internet de Karpay "Comunidades de Poder" usan “cookies de sesión”. Una cookie de sesión no le identifica de forma individual y caduca cuando se cierra el explorador.
                
                
                • Configuración de cookies en su ordenador
                
                En cualquier momento que visite un Sitio de Internet de  Karpay "Comunidades de Poder", al hacer clic en el enlace “Preferencias de cookies”, en la parte inferior de cada página, puede acceder a información sobre las cookies y cambiar su configuración.
                
                Si bien no tiene la obligación de aceptar cookies cuando visite un Sitio de Internet de Karpay "Comunidades de Poder", es posible que no pueda utilizar todas las funciones del sitio si rechaza determinadas cookies.
                
                Además, su explorador puede permitirle ajustar la configuración para aceptar o rechazar cookies, o enviarle alertas cuando una cookie se instale en su ordenador.
                 
                Uso y divulgación de su información
                Karpay "Comunidades de Poder"  no venderá la información personal recopilada de sus Sitios de Internet a agentes de listas de correo sin su consentimiento explícito.
                
                Karpay "Comunidades de Poder" no divulgará la información personal acerca de los visitantes de nuestro Sitio de Internet, excepto los casos que se describen a continuación:
                
                • Salvo que se indique específicamente, podemos utilizar la información recopilada en los sitios de Internet de Karpay "Comunidades de Poder"  para mejorar el contenido de nuestro sitio, personalizar el sitio de acuerdo con sus preferencias, comunicarle información (si la solicitó) con fines de comercialización e investigación, y para cualquier otro fin especificado en un sitio web.
                
                
                •   Karpay "Comunidades de Poder" también puede compartir su información personal con terceros que contratemos para que nos presten servicios de apoyo. Dichos terceros tienen la obligación de utilizar la información personal que hayamos compartido solo para prestar servicios en nuestro nombre y tratar su información personal de manera estrictamente confidencial, conforme a todas las leyes de protección de datos y privacidad vigentes.
                
                • En algunos casos,  Karpay "Comunidades de Poder"  puede compartir su información personal con terceros que estén asociados con nosotros para proporcionar productos y servicios a nuestros clientes, por ejemplo, distribuidores. Si es así, les exigiremos a nuestros socios comerciales que utilicen dicha información de manera coherente con los fines para los cuales se recopiló originalmente (o para los que usted otorgue su consentimiento posteriormente), y solo en la medida en que lo permita esta Política, las Declaraciones de Privacidad vigentes del Sitio Web o del País, y todas las leyes de protección de datos y privacidad vigentes.
                
                • En ciertas circunstancias limitadas, podemos compartir o transferir información personal a terceros que no estén relacionados. Por ejemplo, podemos proporcionar la información personal a un tercero: (i) si usted lo solicita, (ii) para cumplir con un requisito legal o de un tribunal, (iii) para investigar un posible delito, como el robo de identidad, (iv) si está relacionado con la venta, la compra, la fusión, la reorganización, la liquidación o la disolución de  Karpay "Comunidades de Poder" o de una unidad comercial de Karpay "Comunidades de Poder" , o (v) en circunstancias similares. Si ocurre alguno de estos eventos, tomaremos las medidas correspondientes para proteger su información personal.
                
                
                Seguridad de su información personal
                Su información personal se almacenará en las bases de datos de   Karpay "Comunidades de Poder" o en las bases de datos que mantengan nuestros proveedores de servicios. 
                
                  Karpay "Comunidades de Poder" mantiene medidas preventivas razonables para proteger la seguridad, confidencialidad e integridad de su información personal. Por ejemplo, utilizamos una tecnología segura para transferir la información personal en Internet.
                
                Limitamos el acceso a la información personal a aquellos que tengan una necesidad comercial.
                
                Si bien utilizamos medidas de seguridad para ayudar a proteger su información personal contra divulgaciones no autorizadas, uso indebido o alteración, tenga en cuenta que ninguna transmisión de Internet es completamente segura o libre de errores.Karpay "Comunidades de Poder"   no será responsable de las violaciones a la seguridad que estén fuera de nuestro control en una medida razonable.
                
                
                Enlaces a Sitios de Internet de Terceros
                Los Sitios de Internet de  Karpay "Comunidades de Poder" pueden contener vínculos a sitios de Internet que no son administrados por Karpay "Comunidades de Poder"  . Estos vínculos se proporcionan como un servicio y no implican ningún tipo de aprobación de las actividades o del contenido de estos sitios, ni la asociación con sus operadores. Le instamos a que revise la política de privacidad publicada en los sitios web que visite antes de utilizar el sitio o de proporcionar información personal.
                
                Acceso a la información personal
                Según la legislación vigente en la República Argentina, el titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326.
                
                La DIRECCION NACIONAL DE PROTECCION DE DATOS PERSONALES, Órgano de Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales.
                
                Los interesados podrán ejercer su derecho de acceso, rectificación o eliminación de sus datos personales: (a) comunicándose vía e-mail a comunidadkarpay@gmail.com enviando copia de , con su DNI y/o completando el formulario destinado a tal fin; o bien (b) contactándose por vía telefónica al (03548) 606695 donde se le indicará el procedimiento aplicable y la eventual documentación que se requiera completar. El horario de atención en ambos casos será los días hábiles de 10 a 14:00 hs.
                
                Más información:
                
                Direccion Nacional de Protección de Datos Personales (LINK: http://www.jus.gob.ar/datos-personales.aspx/)
                
                
                Conservación de la información personal
                El tiempo que conservemos su información personal variará y dependerá del objetivo y del uso de la información recopilada. Existen requisitos legales para que conservemos algunos tipos de datos por períodos específicos. De lo contrario, retendremos dicha información por el tiempo que sea necesario a los fines por los que se recopilaron dichos datos.
                
                
                
                Menores
                La mayoría de los Sitios de Internet de  Karpay "Comunidades de Poder" no están destinados a menores de 13 años.  Karpay "Comunidades de Poder" no solicitará ni recopilará a sabiendas la información personal de menores o acerca de menores en sus Sitios de Internet, excepto que lo permitan las leyes vigentes.
                
                
                Preguntas acerca de esta Política o de nuestras Declaraciones de Privacidad
                Si tiene alguna pregunta acerca de esta Política o de la Declaración de Privacidad del Sitio Web o del País, o sobre el uso que le demos a su información personal, comuníquese con nosotros por correo electrónico.
                
                
                Cambios en esta Política y nuestras Declaraciones de Privacidad
                Los cambios que se realicen en esta Política de Privacidad se publicarán en este sitio. Karpay "Comunidades de Poder" se reserva el derecho de actualizar o modificar esta Política y las Declaraciones de Privacidad de Sitio Web en cualquier momento y sin previo aviso. Las modificaciones se aplicarán solo a la información personal que recopilemos después de esta publicación.
                
                
                </p>
            </div>
            
        </div>

        
        </section>
       
    </main>

<%- include('./partials/footer'); %>    
    

    
