<%- include('./partials/header') %>

    <link rel="stylesheet" href="/styles/proyectos.css">

    <main>
        <section class="proyectos-header">
            <div class="proyectos-header_titulo">
                <h1>Proyectos</h1>
            </div>
            <div class="proyectos-header_parrafo">
                <p>Acá vas a encontrar todos los proyectos que encaramos desde Karpay.</p>
            </div>
        </section>


        <section class="proyectos-main">

            <section class="proyectos">
                <div class="proyectos-img">
                    <img src="/images/iconoconciencia.svg" alt="">
                </div>
                <div class="proyectos-info">
                    <div class="proyectos-info_titulo left">
                        <h1>Conciencia Saludable</h1>
                    </div>
                    <div class="proyectos-info-parrafo left">
                        <p>Buscamos concientizar a las personas sobre la importancia del autocuidado, la salud (física, psíquica y social) y la prevención de enfermedades no transmisibles, formando así agentes comunitarios que multipliquen el mensaje a través de distintas llamadas a la acción.</p>
                    </div>
                    <div class="proyectos-info_mas left">
                        <a href="/concienciaSaludable">Conocé más</a>
                    </div>
            </section>

            <section class="proyectos">
                <div class="proyectos-info">
                    <div class="proyectos-info_titulo">
                        <h1>Conexión Pachamama</h1>
                    </div>
                    <div class="proyectos-info-parrafo">
                        <p>El objetivo de este programa es educar acerca de la importancia del desarrollo sostenible y el cuidado del medio ambiente, tomando acciones de impacto en distintas comunidades y regiones, utilizando los principios incas “Yachay, Munay y Llankay”.</p>
                    </div>
                    <div class="proyectos-info_mas">
                        <a href="/conexionPachamama">Conocé más</a>
                    </div>
                </div>
                <div class="proyectos-img">
                    <img src="/images/iconopachamama.svg" alt="">
                </div>
            </section>         
            

            
            <section class="proyectos">
                <div class="proyectos-img">
                    <img src="/images/iconoubuntu.svg" alt="">
                </div>
                <div class="proyectos-info">
                    <div class="proyectos-info_titulo left">
                        <h1>Experiencia Ubuntu</h1>
                    </div>
                    <div class="proyectos-info-parrafo left">
                        <p>Esta iniciativa propone fomentar espacios de diálogo entre individuos de distintas raíces, culturas y contextos. Además, busca realizar acciones comunitarias para abordar la cultura de la paz de forma práctica en la vida cotidiana de las personas y comunidades.</p>
                    </div>
                    <div class="proyectos-info_mas left">
                        <a href="/experienciaUbuntu">Conocé más</a>
                    </div>
            </section>

            <section class="proyectos">
                <div class="proyectos-info right">
                    <div class="proyectos-info_titulo">
                        <h1>Refugio Quenti</h1>
                    </div>
                    <div class="proyectos-info-parrafo">
                        <p>Refugio Q'enti es un proyecto para la creación de un espacio de experiencias vivenciales ,de los individuos en y con  la naturaleza ,  nuestra organización sostiene la filosofía de los valores del Yachay-Munay-Llankay como parte de los procesos de divulgación y concientización,sobre el respeto y cuidado del medioambiente y a cada ser vivo , en nuestro refugio proponemos experiencias que permitan a cada ser que llegue disfrutar de la naturaleza a la vez que aprende cómo preservarla e interactuar en la misma en armonía con el equilibrio natural de la vida . Actualmente el espacio de Refugio Q'enti se encuentra en el hogar que recibe a Gonzalo y Julieta ,emplazado en el valle de Punilla en la provincia de Córdoba. Para llevar a cabo las distintas etapas de este proyecto iiremos convocando a distintas propuestas y actividades,voluntariados y donaciones que serán divulgadas a través de nuestras distintas plataformas . 
                        </p>
                    </div>
                    <div class="proyectos-info_mas">
                        <!--<a href="/">Conocé más</a>-->
                    </div>
                </div>
                <div class="proyectos-img">
                    <img src="/images/quenti.svg" alt="">
                </div>
            </section>


           
 
        </section>
    </main>

<%- include('./partials/footer'); %>    
    

    
