<%- include('./partials/header') %>

    <link rel="stylesheet" href="/styles/somos.css">

    <main class= "somosMain">     
        
        <section class= "section-somos">
        
        <div class= "cadaUno">
            <div>
            <h2>Julieta Campos</h2>
            <p>Julieta tiene más de 10 años realizando tareas de voluntariado,en distintas organizaciones, durante los últimos 5 años se desempeñó como directora del programa Gente de Paz de la Organización Eoto World ( EE.UU) donde además tuvo su entrenamiento en Objetivos de Desarrollo Sostenible. Durante su desempeño como directora del programa Gente de Paz condujo una investigación que tuvo como temática  Perspectivas de Género en el NOA y el GBA ( Argentina) ,investigación que pretende traducir las perspectivas de los ciudadanos respecto a la realidad de género para mejorar las políticas públicas al respecto.

                Julieta es Operadora Preventiva en Salud Mental (OPSM) certificada por el Ministerio Público de Salud de la Nación, y se desempeña realizando actividades de prevención en distintos ámbitos, asimismo trabaja como terapeuta holistica ,facilitando procesos de conciencia en las personas .
                
                Participa en distintas actividades convocadas por diferentes organizaciones y entidades relacionadas especialmente al medio ambiente y la educación, como así también la cultura de la paz.
                </p>
            </div>
            <div class="proyectos-img">
                <img  class= "imageSomos" src="/images/julieta.jpg" alt="julieta">
            </div>
        </div>

        <div class= "cadaUno">
            <div>
            <h2>Gonzalo J. Casas</h2>
            <p>Gonzalo ,es nacido en la Ciudad Autónoma de Buenos Aires, y desde su juventud su sensiblidad lo llevó a  buscar distintas formas de expresión ,en la música encontró esa conexión a través de la cual  se suma a Proyecto Karpay , para brindarle una impronta particular a través de su mirada desde la música y las diferentes posibilidades de comunicar y abordar cuestiones relacionadas al cuidado del medioambiente y a la cultura de la paz.

                Gonzalo cree firmemente que a través de la música y del arte en sus distintas expresiones ,se puede acercar a  las personas a comprometerse desde un lugar más respetuoso , a la vez que facilita la toma de conciencia sobre los valores que se promueven a través de los distintos programas de Karpay.
                
                Asimismo lleva a cabo en su vida cotidiana acciones concretas en pos del cuidado del medioambiente, la no contaminación , el reciclaje, la disminución de residuos y el cultivo sustentable de la tierra, prácticas que alienta a adoptar  a cada persona con la que se encuentra. 
                
                Gonzalo está abocado a colaborar principalmente con el programa  “ Conexión Pachamama” y colaborar con los restantes programas de la organización. Aportando a nuestra organización una mirada aguda y contundente en las áreas en las que participa.
                </p>
            </div>
            <div class="proyectos-img">
                <img  class= "imageSomos" src="/images/gonzalo.jpg" alt="Gonzalo">
            </div>
        </div>

        <div class= "cadaUno">
            <div>
            <h2>Ricardo Vázquez</h2>
            <p>Ricardo lleva más de 10 años involucrándose activamente en propuestas de su comunidad relacionadas al reciclaje, cuidado del medio ambiente.

                Ha colaborado con acciones de voluntariado entre los que podemos contar en forma local  a las convocatorias realizadas  principalmente por el Ecopunto de Florencio Varela y el Museo Histórico  Provincial “ Guillermo. E . Hudson” , mencionando también en la Provincia de Neuquén actividades junto a  la  planta de recicladores de dicha provincia.
                
                Ricardo es detectorista y espeleólogo,se sumó al proyecto Karpay aportando sus conocimientos en el desarrollo de los contenidos y propuestas de carácter práctico  en los distintos ámbitos en los que el proyecto es convocado o se encuentra cooperando.
                
                Su ámbito de acción dentro de la organización está relacionado al programa  “ Conexion Pachamama “  dando la impronta de acción del mismo desde los inicios y es asimismo co-fundador de Proyecto Karpay .
                
                </p>
            </div>
            <div class="proyectos-img">
                <img  class= "imageSomos" src="/images/ricardo.jpg" alt="Ricardo">
            </div>
        </div>

        <div class= "cadaUno">
            <div>
            <h2>Mario Cesar Espennato</h2>
            <p>Mario, oriundo de la ciudad de Mar del Plata, es médico recibido de la Universidad de Buenos Aires (UBA) y especialista en cardiología. Realizó su residencia médica en la especialidad cardiología en el Hospital Naval de Buenos Aires (HNBA) y el curso superior universitario de cardiología en la Sociedad Argentina de Cardiología (SAC) con el respaldo de la UBA.  Además realizó un fellowship sobre ecocardiografía Doppler en el Instituto Cardiovascular de Buenos Aires (ICBA) y un curso de posgrado sobre el mismo tema en la Asociación Médica Argentina (AMA). Fue instructor de residentes de cardiología en el HNBA y es docente universitario de pregrado de la facultad de medicina de la UBA y de la Universidad Favaloro (UF). Actualmente es miembro titular de la SAC y secretario del Área de Consensos y Normas de la misma entidad científica. Tiene trabajos científicos presentados tanto en congresos como en revistas científicas. Desarrolla su profesión médica en el ámbito privado en su consultorio particular y otras entidades. 
                Hace un año participó activamente  de móviles sanitarios gratuitos en diferentes barrios de la ciudad de Pilar al norte del conurbano bonaerense donde además reside. Hace ya cuatro años, a través de la radio y las redes sociales ejerce la comunicación en salud como un aporte a la salud comunitaria. Hace aproximadamente dos años que acompaña y apoya el trabajo realizado por Karpay comunidades de poder con diferentes contribuciones a través de su fundadora Julieta Campos.
                
                Como secretario del proyecto Fundación Karpay su principal objetivo es el de abordar y difundir prácticas saludables y que contribuyan a la salud del medioambiente y de los seres humanos, además es su interés   desarrollar el punto 3 de los ODS (Salud y Bienestar) a través de diferentes estrategias directas e indirectas a través del programa  “ Conciencia Saludable” principalmente.
                </p>
            </div>
            <div class="proyectos-img">
                <img  class= "imageSomos" src="/images/mario.png" alt="Mario">
            </div>
        </div>

        </section>
       
    </main>

<%- include('./partials/footer'); %>    
    

    
