<%- include('partials/header') %>

<link rel="stylesheet" href="/styles/talleres.css">

<main>
    <section class="talleres-header">
        <div class="talleres-header_titulo">
            <h1>Talleres</h1>
        </div>
        <div class="talleres-header_parrafo">
            <p>Encontrá información detallada acerca de nuestros cursos y talleres.</p>
        </div>
    </section>

    <section class="talleres-main">
        
        <section class="talleres-recuadro">
            <div class="talleres-img">
                <img src="/images/Frame2.png" alt="">
            </div>

            <div class="talleres-texto">
                <div class="talleres-texto_titulo">
                    <h1>Titulo Prueba</h1> 
                </div>
                <div class="talleres-texto_parrafo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, exercitationem inventore quia voluptatum perspiciatis iste aspernatur natus doloremque quis mollitia blanditiis vel veritatis culpa at architecto, id maxime commodi! Non.</p>
                </div>
                <div class="talleres-texto_anclaje">
                    <h2><a href="">Conocé mas</a></h2>
                </div>
            </div>
        </section>
    
        <section class="talleres-recuadro">
            <div class="talleres-img">
                <img src="/images/Frame2.png" alt="">
            </div>

            <div class="talleres-texto">
                <div class="talleres-texto_titulo">
                    <h1>Titulo Prueba</h1> 
                </div>
                <div class="talleres-texto_parrafo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, exercitationem inventore quia voluptatum perspiciatis iste aspernatur natus doloremque quis mollitia blanditiis vel veritatis culpa at architecto, id maxime commodi! Non.</p>
                </div>
                <div class="talleres-texto_anclaje">
                    <h2><a href="">Conocé mas</a></h2>
                </div>
            </div>
        </section>

        <section class="talleres-recuadro">
            <div class="talleres-img">
                <img src="/images/Frame2.png" alt="">
            </div>

            <div class="talleres-texto">
                <div class="talleres-texto_titulo">
                    <h1>Titulo Prueba</h1> 
                </div>
                <div class="talleres-texto_parrafo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, exercitationem inventore quia voluptatum perspiciatis iste aspernatur natus doloremque quis mollitia blanditiis vel veritatis culpa at architecto, id maxime commodi! Non.</p>
                </div>
                <div class="talleres-texto_anclaje">
                    <h2><a href="">Conocé mas</a></h2>
                </div>
            </div>
        </section>

        <section class="talleres-recuadro">
            <div class="talleres-img">
                <img src="/images/Frame2.png" alt="">
            </div>

            <div class="talleres-texto">
                <div class="talleres-texto_titulo">
                    <h1>Titulo Prueba</h1> 
                </div>
                <div class="talleres-texto_parrafo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, exercitationem inventore quia voluptatum perspiciatis iste aspernatur natus doloremque quis mollitia blanditiis vel veritatis culpa at architecto, id maxime commodi! Non.</p>
                </div>
                <div class="talleres-texto_anclaje">
                    <h2><a href="">Conocé mas</a></h2>
                </div>
            </div>
        </section>
    </section>
</main>

<%- include('partials/footer'); %>