<link rel="stylesheet" href="/styles/footer.css">
    <footer>
        <section class="main-footer">
            <div>
                <h1>Karpay comunidad de poder</h1>
                <a href= "/privacidad">Politicas de privacidad</a>
            </div>
        </section>
    </footer>
</body>