<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/header.css">
    <title>Karpay</title>
</head>

<body> 
    <header class="header">     
        <div class="header_logo"> 
            <div class="header_logo-imagen">
                <a href="/"><img href="/" src="/images/karpay-logo-header.png" alt="logo"></a>
            </div>
            <a href="/"style="text-decoration: none;">
            <div class="header_logo-nombre">
                <h1>Karpay</h1>
                <h2>Comunidad de poder</h2>
            </div>
            </a>
        </div>

        <div class="header_menu">
            <ul>
                <li><a href="/proyectos">Proyectos</a></li>
                <li><a href="/novedades">Novedades</a></li>
                <li><a href="/talleres">Talleres y Campañas</a></li>
                <li><a href="/quienesSomos">Quienes Somos</a></li>
                <li><!--<a href="/">Eco-Tienda</a></li>-->
            </ul>
            <div class="header_menu-iconos">
                <a href="https://www.instagram.com/comunidadkarpay/" target="_blank" rel="noopener noreferrer">
                    <img src="/images/icon-instagram-26.png" alt="">
                    <a>
                <a href="https://www.facebook.com/comunidadesdepoder" target="_blank" rel="noopener noreferrer">
                    <img src="/images/icon-facebook-48.png" alt="">
                 </a>
            </div>
        </div>       
    </header>

