<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/header.css">
    <title>Karpay</title>
</head>

<body> 
    <header class="header">     
        <div class="header_logo"> 
            <div class="header_logo-imagen">
                <img src="/images/karpay-logo-header.png" alt="">
            </div>
            <div class="header_logo-nombre">
                <h1>Karpay</h1>
                <h2>Comunidad de poder</h2>
            </div>
        </div>

        <div class="header_menu">
            <ul>
                <li><a href="/">Proyectos</a></li>
                <li><a href="/novedades">Novedades</a></li>
                <li><a href="/talleres">Talleres</a></li>
                <li><a href="/">Eco-Tienda</a></li>
            </ul>
            <div class="header_menu-iconos">
                <img src="/images/icon-instagram-26.png" alt="">
                <img src="/images/icon-facebook-48.png" alt="">
            </div>
        </div>       
    </header>

