

<header>
    <nav>
        <form action="/admin/logout" method="POST" id="logout">
            <button type="submit">logout</button> 
        </form>
        <a href="/admin"><button>Login</button></a>
        <a href="/admin/dashboard"><button>Tablero</button></a>
    </nav>
</header>